# Python
*.pyc
*.pyd
__pycache__
*.egg-info
.eggs
dist
build
.ipynb_checkpoints

# PyCharm
.idea

# Editor temporaries
*.swn
*.swo
*.swp
*~
.~lock*

# Compiled
*.a
*.so
*.o

# NFS
.nfs*

# Some binaries
*.wav
*.flac
*.wv1
*.png
*.txt
*.log

# Archive
*.tar.gz
*.tgz
*.zip
*.tar

# Production
example/exp*
example/data/
